@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  color-scheme: light;
  --color-base-text: #000000;
  --color-base-background: #ffffff;
  --color-base-themebutton: #000000;
  --color-base-themebutton-hover: rgb(52, 170, 220);
  --color-base-border: #d8d8d8;
  --color-base-header: #f8f8f8;
  --color-base-card: #f1f1f1;
  --color-base-card-hover: #f6f6f6;
  --color-base-input: #ffffff;
  --color-border-input: #ffffff;
  --color-button-remove: #cacaca;
  --color-button-remove-hover: #dfdfdf;
  --color-base-modal: #eaeaeacc;
}

.dark-mode {
  color-scheme: dark;
  --color-base-text: #ffffff;
  --color-base-background: #000000;
  --color-base-themebutton: #ffffff;
  --color-base-themebutton-hover: rgb(52, 170, 220);
  --color-base-border: #303032;
  --color-base-header: #252526;
  --color-base-card: #151517;
  --color-base-card-hover: #202020;
  --color-base-input: #000000;
  --color-border-input: #000000;
  --color-button-remove: #343434;
  --color-button-remove-hover: #4b4b4b;
  --color-base-modal: #141414cc;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --color-base-text: #ffffff;
    --color-base-background: #000000;
    --color-base-themebutton: #ffffff;
    --color-base-border: #303032;
    --color-base-header: #252526;
    --color-base-card: #151517;
    --color-base-input: #000000;
    --color-border-input: #000000;
    --color-button-remove: #343434;
    --color-base-modal: #141414cc;
  }
} */

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-base-background);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: var(--color-base-text);
}

.container > div {
  padding: 15px;
}

.container {
  display: grid;
  justify-self: center;
}

.main {
  display: grid;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-base-header);
  align-items: baseline;
  border-bottom: 1px solid var(--color-base-border);
}

.color-scheme-icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--color-base-themebutton);
}

.color-scheme-icon:hover {
  fill: var(--color-base-themebutton-hover);
}

.header-title {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.main-button-container {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.main-books-card-info {
  overflow-wrap: break-word;
  font-size: 1.25rem;
}

.main-button {
  display: flex;
  gap: 8px;
}

.main-button > div:first-child {
  background-color: #ff453a;
  width: 18.391px;
  border-radius: 50%;
  font-weight: 400;
}

.main-button > div:nth-child(2):hover {
  text-decoration: underline;
}

.main-books-read-button {
  width: 93.5%;
  border-radius: 3px;
  padding-block: 8px;
}

.main-books-card-info:nth-child(2) {
  margin-top: auto;
}

.main-books-remove-button {
  width: 93.5%;
  background-color: var(--color-button-remove);
  border-radius: 3px;
  padding-block: 8px;
}

.main-books-remove-button:hover {
  background-color: var(--color-button-remove-hover);
}

.main-books-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding-block: 16px;
  gap: 14px;
  font-size: 1.5rem;
  background-color: var(--color-base-card);
  border-radius: 6px;
  border: 1px solid var(--color-base-border);
  word-break: break-word;
  transition: background-color 0.12s;
}

.main-books-card:hover {
  background-color: var(--color-base-card-hover);
}

.main-books-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 2fr));
  row-gap: 32px;
  column-gap: 24px;
}

.modal[open] {
  border: 1px solid var(--color-base-border);
  border-radius: 6px;
  background: var(--color-base-modal);
  backdrop-filter: saturate(180%) blur(10px);
  -webkit-backdrop-filter: saturate(180%) blur(10px);
}

.modal::backdrop {
  background-color: black;
  opacity: 0.6;
}

.modal-title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}

input {
  padding: 8px;
  border-radius: 4px;
  margin-block: 10px;
  background-color: var(--color-base-input);
  border: var(--color-border-input);
  padding: 10px;
}

label {
  margin-right: 16px;
}

form {
  margin-top: 16px;
}

.form-box:nth-child(4) {
  display: flex;
  align-items: center;
  font-weight: 500;
  justify-content: center;
}

.modal-close-button {
  margin-top: 16px;
  background-color: #ff453a;
  text-align: center;
  width: 100%;
  padding-block: 12px;
  border-radius: 6px;
}

.book-exists-indication {
  color: #ff453a;
  text-align: center;
}
