@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #000000;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.container > div {
  padding: 15px;
}

.container {
  display: grid;
  justify-self: center;
}

.main {
  display: grid;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #252526;
  align-items: baseline;
  border-bottom: 1px solid #303032;
}

.color-scheme-icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: rgb(255, 255, 255);
}

.header-title {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.main-button-container {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.main-books-card-info {
  overflow-wrap: break-word;
  font-size: 1.25rem;
}

.main-button {
  display: flex;
  gap: 8px;
}

.main-button > div:first-child {
  background-color: #ff453a;
  width: 18.391px;
  border-radius: 50%;
  font-weight: 400;
}

.main-button > div:nth-child(2):hover {
  text-decoration: underline;
}

.main-books-read-button {
  width: 93.5%;
  border-radius: 3px;
  padding-block: 8px;
}

.main-books-card-info:nth-child(2) {
  margin-top: auto;
}

.main-books-remove-button {
  width: 93.5%;
  background-color: rgb(52, 52, 52);
  border-radius: 3px;
  padding-block: 8px;
}

.main-books-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding-block: 16px;
  gap: 14px;
  font-size: 1.5rem;
  background-color: #151517;
  border-radius: 6px;
  border: 1px solid #303032;
  word-break: break-word;
}

.main-books-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 2fr));
  row-gap: 32px;
  column-gap: 24px;
}

.modal[open] {
  border: 1px solid #404040;
  border-radius: 6px;
  background: rgba(20, 20, 20, 0.8);
  backdrop-filter: saturate(180%) blur(10px);
}

.modal::backdrop {
  background-color: black;
  opacity: 0.6;
}

.modal-title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}

input {
  padding: 8px;
  border-radius: 4px;
  margin-block: 10px;
  background-color: #000000;
  border: #000000;
  padding: 10px;
}

label {
  margin-right: 16px;
}

form {
  margin-top: 16px;
}

.form-box:nth-child(4) {
  display: flex;
  align-items: center;
  font-weight: 500;
  justify-content: center;
}

.modal-close-button {
  margin-top: 16px;
  background-color: #ff453a;
  text-align: center;
  width: 100%;
  padding-block: 12px;
  border-radius: 6px;
}
